table {
    width: 100%;

}
.mat-form-field {
    font-size: 14px;
    width: 76%;
    margin: 0 40px;
}
div{
    width: 70%;
    margin: 20px 40px;
    padding: 10px;
}
input{ 
    width: 200px;
}
.head{
    display: flex;
    
}
.head div{
    flex: unset;
}
mat-icon{
    margin: 20px 30px;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.forflex{
    width: 90%;
    width: auto;
    display: flex;
    
}
.mat-elevation-z8{
    flex: 80%;
}

