
<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>

<div  class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Product Column -->
  <ng-container matColumnDef="productName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
  </ng-container>

  <!-- Brand Column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Brand </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <!-- Desc Column -->
  <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element">Rs. {{element.price}} </td>
  </ng-container>

  <!-- update Column -->
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Update </th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="updateProduct(element.id)" >Update</button></td>

  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell  *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="deleteProduct(element.id)"> Delete</button></td>
    <button>dfel</button>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]" showFirstLastButtons >
</mat-paginator>
</div>
