
<div class="box-shadow">
    <div class="grid">

        <h1 style="margin: 30px;"><b style="font-family: cursive;">Add New Address</b></h1>


        <form>
            <mat-form-field appearance="fill" class="fieldw" style="width: 500px;">
                <mat-label>Full Name</mat-label>
                <input matInput [(ngModel)]="address.name" name="fullname">
            </mat-form-field>
            <br>

            <div class="tryf">
                

                <div class="tryff">
                
                    <mat-form-field appearance="fill" class="fieldw">
                        <mat-label>House Number</mat-label>
                        <input matInput  [(ngModel)]="address.houseNo" name="houseNo">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill" class="fieldw">
                        <mat-label>Area/Street</mat-label>
                        <input matInput [(ngModel)]="address.area" name="area">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill" class="fieldw">
                        <mat-label>city</mat-label>
                        <input matInput [(ngModel)]="address.city" name="city">
                    </mat-form-field>
                    <br>

                </div>
                <div style="width: 70px;"></div>
                <div class="tryff">
                    <mat-form-field appearance="fill" class="fieldw">
                        <mat-label>State</mat-label>
                        <input matInput [(ngModel)]="address.state" name="state">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill" class="fieldw">
                        <mat-label>Pincode</mat-label>
                        <input matInput [(ngModel)]="address.pincode" name="pincode">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill" class="fieldw">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput [(ngModel)]="address.mobile" name="mobile">
                    </mat-form-field>
                    <br>
                </div>
            </div>
            <br>
            <button mat-raised-button mat-dialog-close color="primary" class="btnn" type="submit" value="submit" (click)="addAddress()" >Submit</button>
            <button mat-raised-button  mat-dialog-close color="warn" class="btnn">Cancel</button>

        </form>


    </div>

</div>