<link href='https://fonts.googleapis.com/css?family=Akronim' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>


<div class="container">
    <div class="qutes-wrapper">
        <mat-grid-list cols="2" rowHeight="400px">
            <mat-grid-tile>
                <div class="q-wrapper">
                    <pre> 
                        <span class="q">"SOME PEOPLE WANT IT TO HAPPEN,</span><br>
                        <span class="q"> SOME WISH IT WOULD HAPPEN, </span><br>
                        <span class="q"> AND OTHERS... MAKE IT HAPPEN"</span><br><br>
                        <span  class="by">- MICHAEL JORDAN</span>
                    </pre>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="i-wrapper"> <img src="../../assets/img/homeimg1.jfif" alt=""> </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="product">
        
        <mat-card> <mat-form-field >
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option value="option">Football</mat-option>
              <mat-option value="option">Cricket</mat-option>
              <mat-option value="option">Voleyball</mat-option>
            </mat-select>
          </mat-form-field></mat-card>

    </div>
</div>